{% load custom_tags %}
<!---->
{% for story in stories %}
<div
  class="border border-solid border-gray-400 bg-white rounded shadow flex mb-2"
>
  <div
    class="
      flex flex-col
      place-items-center
      text-2xl
      p-2
      bg-gray-100
      justify-center
    "
  >
    <div>
      <span class="text-yellow-500">
        <i class="fas fa-chevron-up"></i>
      </span>
    </div>
    <div class="text-yellow-500 font-bold">{{story.score}}</div>
  </div>
  <div class="flex flex-col pl-4">
    <div class="flex place-items-center space-x-2 py-2">
      <!--<img src="#" alt="" class="w-8 rounded-full py-2" />-->
      <div class="font-bold">{{story.story_type|capfirst}}</div>
      {% if story.story_type != 'comment' %}
      <p class="font-bold text-gray-600">
        Posted by {{story.author}} {{story.time|timesince}} ago
      </p>
      {% else %}
      <p class="font-normal text-gray-400 text-sm">
        by {{story.author}}, made {{story.time|timesince}} ago
      </p>
      {% endif %}
    </div>
    <div>
      {% if story.story_type == 'comment' %}
      <!---->
      {% if story.text %}
      <p class="text-sm font-normal">{{story.text|safe|truncatewords:22}}</p>
      {% else %}
      <p class="text-sm font-normal">This comment has no content</p>
      {% endif %}
      <!---->
      {% else %}
      <a class="text-2xl font-bold" href="{{story.get_absolute_url}}"
        >{{story.title}}</a
      >
      {% endif %}
    </div>
    <div class="flex text-gray-500 space-x-4">
      <div
        class="text-lg flex place-items-center space-x-2 p-2 hover:bg-gray-200"
      >
        {% if story.story_type != 'comment' %}
        <i class="fas fa-comment"></i>

        <div>{{story.descendants}} comment{{story.descendants|pluralize}}</div>
        {% else %}
        <i class="fas fa-child"></i>
        <p class="text-sm">
          <a href="{{ story.parent_id|story_url }}">
            In {{ story.parent_id|story_title|safe }}
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% empty %}
<div
  class="
    border border-solid border-gray-400
    bg-white
    rounded
    shadow
    flex
    mb-2
    p-2
    text-center
  "
  id="latestStoryEmpty"
>
  <p class="text-2xl font-bold text-center">No latest story yet.</p>
</div>
{% endfor %}
